{#<div class="deal-left-mk left-side">#}
{#    <h3 class="sear-head editContent">Города с лучшим рейтингом:</h3>#}
{#    {% for city in cities_with_best_rating %}#}
{#        <div class="special-sec1 row mt-3 editContent">#}
{#            <div class="img-deal1 col-md-4">#}
{#                <a href="{{ city.get_absolute_url }}" class="editContent">#}
{#                    <img src="{{ city.city_emblem.url }}" class="img-fluid" alt="">#}
{#                    <h5 class="editContent">{{ city.name }}</h5>#}
{#                </a>#}
{#                <span class="rating"> <b>Рейтинг: </b>#}
{#                {{ city.middle_star }}</span>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#</div>#}

<div class="container">
    <h3 class="head">Города с лучшим рейтингом:</h3>
    <div class="best">
        {% for city in cities_with_best_rating %}
            <div class="best-city">
                <a href="{{ city.get_absolute_url }}" class="link editContent">
                    <img src="{{ city.city_emblem.url }}" class="img-best-city" alt="">
                    <h5 class="editContent">{{ city.name }}</h5>
                </a>
                <span class="rating"> <b>Рейтинг: </b>
                    {{ city.middle_star }}</span>
            </div>
        {% endfor %}
    </div>
</div><br>