{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock title %}
{% block content %}
    <div style="text-align: center"><h3>Красота природы не имеет границ</h3></div>
{#    <section class="ab-info-main py-md-5 py-4 editContent"#}
{#             style="padding-left: 3rem; padding-right: 3rem;">#}
        {% block container %}
{#            <div class="container-fluid py-md-3">#}
        {% endblock container %}
{#        <div class="row">#}
{#            {% block sidebar %}#}
{#                <div class="side-bar col-lg-3">#}
{#            {% endblock sidebar %}#}
{#            {% include 'include/sidebar.html' %}#}
{#            </div>#}
            {% block cities %}
            {% endblock cities %}
{#        </div>#}
{#    </section>#}
{% endblock content %}