{% extends 'travel_in_Russia/base.html' %}
{% load city_tag %}
{% block title %}Главная.{% endblock %}
{% block header %} bg1 {% endblock header %}
{% block cities %}
    <div class="devise">
        <h4>
            Сервис "Страна впечатлений" поможет определиться с выбором города для Вашего лучшего путешествия!
        </h4>
    </div>
    {% get_cities_with_best_rating count=3 %}
    <div class="cities-block">
        {% for city in object_list %}
            <div class="city">
                <div class="img">
                    <a class="link" href="{{ city.get_absolute_url }}">
                        <h5 class="city-name card-title">{{ city.name }}</h5>
                        <img src="{{ city.city_emblem.url }}" width="100%" height="85%" alt="...">
                        <p><b>Рейтинг: </b>{{ city.middle_star }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}