{% extends 'travel_in_Russia/base.html' %}
{% block title %}{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}{% endblock %}
{% block content %}
    <form action="{% url 'update' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button class="mt-3 btn btn-success btn-block py-3"
                style="background: #9FA8DA;" type="submit">Сохранить.
        </button>
    </form>
{% endblock %}